.app-clicker{
    background-color: black;
}



.click-game {
    width: 100%;
    height: 70px;
    position: relative;
    margin-top: 100px;
}

.counter {
    font-size: 10rem;
    font-weight: bold;
    color: purple;
}
.counter-explain {
    font-weight: bold;
    color: rgb(87, 40, 87);
    font-size: 3rem;
}