footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: aliceblue;
    background-color: black;
  }

.p-footer {
    color: aliceblue;
}