#home {
     background: url("../../assets/img/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg") repeat 0 0; 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center;
    position: absolute;
    height: 200%;
    width: 100vw; 
    
      
    
    section {
       
        
        
        margin-bottom: 30px;
        margin-top: 20px;
        border-radius: 160px;
        
    }
    .cube{
        font-size: 10rem;
        padding-bottom: 60px;
        padding-top: 30px;
        color: rgb(218, 103, 37);
        text-align: center;
        
    }
    h1{
      text-align: center;
      font-size: 4rem;
      color: #f8f8f8; 
      font-style: italic;
      font-weight: bold;
      font-family: 'Ubuntu', sans-serif;
      padding-bottom: 10px;
      
    

    }
    .first_div{
        text-align: center;
        text-decoration: none;
    }
    
    .auth-container{
        text-align: center;
        font-size: 1.5rem;
        justify-content: center;
    }

   
    .play-button-container{
        width: 90%;
        display:inline-flexbox;
        justify-content: center;
        
        
        
    }

    .play-button-container :hover{
        transform: scale(1.1);
        
        
        
    }


    .play_button{
        width: 100%;
        padding: 1rem;
        font-size: 2rem ;
        text-decoration: none;
        box-shadow: 0 5px 15px rgba(45, 233, 217, 0.979);
        border-radius: 30px;
        display:block;
        text-align: center;
        transition: 0.01s linear all;
        
        background-color: rgb(40, 172, 172);
        color: #f8f8f8;
        cursor: pointer;
        
        
    }
    .auth-container{
        width: 100%;
        display: flex;
        position: relative;
        justify-content: space-between;
    }

  

    #login-button {
    background-color: #9f3cc7;
    box-shadow: 0 10px 15px rgba(142, 109, 161, 0.979);
    width: 100%;
    
    }
    
    
    #register-button {
        background-color: #50aa88;
        box-shadow: 0 10px 15px rgba(74, 150, 105, 0.979);
        
        }

    

    .auth-container .auth-buttons{
        color: #f8f8f8;
        cursor: pointer;
        border-radius: 30px;
        padding: 0.6rem 0;
        text-align: center;
        width: 100%;
        height: 50px;
        text-decoration: none;
        margin-top: 70px; 
        transition: 0.01s linear all;  
        
    }
 
    #para-home{
        color: rgb(218, 103, 37);
        text-align: center;
        font-size: x-large;
        
    }  
    
    .input-user{
        width: 50%;
    }
  
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #d11c8f 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: flexbox;
      font-size: 200px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 768px){
    #home section{
      padding: 0 50px; 
      width: 100%; 
      height: 100%;
    }
}

