.leadborad{
    background-color: black;
    height: 100%;
}
.p-lead{
    font-size:2.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.leadboard-title{
    font-size: 5rem;

}
.leadborad-btn{
    justify-self: center;
    font-size: x-large;
    margin-top: 150px;
}
