.rock-div{
    
        background: url("../../assets/img/outofspace.jpg") repeat 0 0;
        height: 100vh;
        background-position:center;
        background-size:1500px;
      }



.result-rockPaper {
    color: aquamarine;
    font-size: 100px;
}


.options-rps {
    background-color: black;
    width: 20%;
    margin-left:10%;
    height: 60px;
    font-size: xx-large;
    

}

.player-choice {
    color:aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pc-choice {
    color:aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}